:root {
  --color-primario: #D6E4E5;
  --color-secundario: #EB6440; 
  --color-fondo: #161A30;
  --color-texto: #D6E4E5;
  --color-active: #aebdbe;
  --color-teclas: #EFF5F5;
  --color-warning: #f44336e3; /* red */
}


* {
  box-sizing: border-box;
  background-color: var(--color-fondo);
  margin: 0px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background-color: var(--color-primario);
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 0px;
  border-radius: 10px;
}

.board {
  background-color: var(--color-primario);
  display: flex;
  gap: 0px;
  padding: 0px;
  justify-content: center;
  border-radius: 5px;
}

div.numbers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 150px;
  height: 200px;
  background-color: var(--color-primario);
}

div.operators {
  display: flex;
  width: 50px;
  background-color: var(--color-primario);
  margin: 0px;
  flex-direction: column;
  gap: 0px;
  border: 0px;
}

div.display {
  background-color: var(--color-secundario);
  width: 200px;
  height: 50px;
  padding: 10px;
  display: flex;
  justify-content: right;
}

button {
  box-sizing: border-box;
  background-color: var(--color-teclas);
  border: none;
  width: 50px;
  height: 50px;
  font-size: 20px;
}

button:hover {
  background-color: var(--color-primario);
}

button:active {
  background-color: var(--color-active);
}